<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.login.pagetitle}">CAS Acceptable Use Policy View</title>

    <link rel="stylesheet" href="./css/newCas.css"/>

</head>

<body class="login-container">
<main role="main">
    <div layout:fragment="content" id='iframeHead' name='iframeHead' frameborder="0" width="100%">
        <div class="login-view">
            <img src="./images/login_bg.png">
            <div th:replace="fragments/loginform :: loginform">
                <a href="fragments/loginform.html">Login Form goes here</a>
            </div>
        </div>
        <div id="notices" class="login-client">
            <div th:replace="fragments/serviceui :: serviceUI"><a href="fragments/serviceui.html">service ui</a> fragment</div>
        </div>
    </div>
</main>
</body>
</html>
