<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Service UI Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>
<body>
<main role="main" class="container mt-3 mb-3">
<div th:fragment="serviceUI" th:if="${registeredService}" id="serviceui" >
    <div th:unless="${serviceUIMetadata}">
        <img th:src="${registeredService.logo}" th:if="${registeredService.logo}" style="width: 50px;" />
        <img th:src="@{images/webapp.png}" th:unless="${registeredService.logo}" style="width: 50px;"/>
        <p th:text="${registeredService.name}">Registered Service Name</p>
        <p th:text="${registeredService.description}">Registered Service Description</p>
    </div>
</div>
</main>
</body>
</html>
